<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
  {{ partial "head.html" . }}
  {{ template "_internal/google_analytics.html" . }}
  </head>
  <body>
    <div class="container">
        {{ partial "header.html" . }}
      <div class="main">
        <ul id="og-grid" class="og-grid">
          {{ range $.Site.Data.playlists }}
          <li>
            <a href="{{.external_urls.spotify}}"
               data-largesrc="{{ range where .images "width" 640 }}{{.url}}{{end}}"
               data-title="{{.name}}"
               data-description="{{.description}}"
               data-buttontext="Open Spotify">
              <img src="{{ range where .images "width" 640 }}{{.url}}{{end}}"
                   alt="{{.name}}"
                   width="200px" />
            </a>
          </li>
          {{ end }}
        </ul>
        {{ partial "footer.html" . }}
      </div>
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
